@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000408;
  height: 100vh;
  margin: 0;
}

nav .navbar .logo a img{
  padding-top: 15px;
}

/* quiz */
.quiz-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  text-align: center;
  background-color: #e9e9e9;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 1.25rem 4rem #000408c4;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 0 auto 1.2em auto;
}
  
input {
  border: 1px solid #aaa;
  background-color: #e9e9e9;
  border-radius: 20px;
  width: 45%;
  outline: none;
  margin: 5px auto;
  padding: 10px;
}

#result-message {
  font-weight: bold;
  color: #00b14a;
}
  
#score {
  font-weight: bold;
  background-color: #fa0;
  color: #fff;
  border-radius: 20px;
  padding: 8px 12px;
}
  
#next-button, #submit-button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 45%;
  background-color: #fa0;
  color: #fff;
  cursor: pointer;
  margin: 10px auto;
  transition: .5s ease;
}

#next-button:hover, #submit-button:hover {
  background-color: rgb(194, 97, 0);
}

#correct-message{
  margin: 10px 0 0 0;
  color: #000408;
}

/* #correct-message span{
  color: #00b14a;
} */



@media screen and (max-width:768px) {
  .quiz-container {
    width: 80%;
  }
  #next-button, #submit-button, input {
    width: 100%;
  }
  input{
    background-color: #e9e9e9;
    color: #000408;
  }
  img{
    margin-top: 20px;
    width: 100%;
  }
}
